<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <a href="https://www.w3schools.com/images/myw3schoolsimage.jpg" download>
    <img src="https://www.w3schools.com/images/myw3schoolsimage.jpg" alt="W3Schools" width="104" height="142">
  </a>
  <!-- <ul *ngFor="let item of data">
    <li><strong>Name:</strong>{{item.name}}</li>
    <li><strong>Age:</strong>{{item.age}}</li>
    <li><strong>Description:</strong>{{item.description}}</li>
  </ul> -->

  <button (click)="download()">
    download
  </button>
</ion-content>